<!-- Footer -->
<footer class="footer">
    <div class="container footer-container">
        <div class="footer-info">
            <h3>Ibnu C. Ramadhan</h3>
            <p>Lecturer at PENS</p>
        </div>
        <div class="footer-contact">
            <p><i class="fas fa-envelope"></i> ibnu.ramadhan [at] pens.ac.id</p>
            <p><i class="fas fa-map-marker-alt"></i> Office: Gedung D4, Room D305</p>
        </div>
        <div class="footer-social">
            <a href="https://scholar.google.com/citations?user=uCN7gawAAAAJ" target="_blank"
                aria-label="Google Scholar"><i class="fas fa-graduation-cap"></i></a>
            <a href="https://www.linkedin.com/in/ibnu-cipta-ramadhan-5b3662177/" target="_blank"
                aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/ibdhan" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; <span id="current-year"></span> Ibnu C. Ramadhan. All rights reserved.</p>
    </div>
</footer>