<!-- Header & Navigation -->
<header class="header">
    <div class="container header-container">
        <a href="/" class="logo">
            <img src="/assets/images/favicon-no-bg-8bit.png" alt="Logo" class="logo-icon">
            Ibnu's Webpage
        </a>

        <button class="mobile-nav-toggle" aria-label="Toggle Navigation">
            <i class="fas fa-bars"></i>
        </button>

        <nav class="nav-menu">
            <ul class="nav-list">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/about/" class="nav-link">About Me</a></li>
                <li><a href="/research/" class="nav-link">Research</a></li>
                <li><a href="/publications/" class="nav-link">Publications</a></li>
                <li><a href="/teaching/" class="nav-link">Teaching</a></li>
            </ul>
        </nav>
    </div>
</header>